body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C6A969;
    color: white;
    text-align: center;
    padding: 1em;
}

header h3 {
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
}

header p {
    margin-top: -10px;
    font-size: x-small;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}


.calculator {
    max-width: 20px;
    display: block;
    margin-left: 38%;
    margin-right: 73%;
  
}

img {
    display: block;
  margin-left: 50%;
  margin-right: 50%;
}


label {
    margin-top: 10px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

input, button {
    margin-bottom: 10px;
    padding: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}
